<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This web app is a final project for the Harris School of Public Policy's
  <a href="https://abhinemani.com/civictechcourse/">Civic Technology</a>
  class, taught by <a href="https://abhinemani.com/">Abhi Nemani</a>.
</p>
