<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This web app is a final project for the Harris School of Public Policy's
  <a href="https://abhinemani.com/civictechcourse/">Civic Technology</a>
  class, taught by <a href="https://abhinemani.com/">Abhi Nemani</a>.
</p>
<p>
  If you are interested in doing more to support vaccinations, please consider
  <a href="http://www.immunize.org/support/">donating to the Immunization
  Action Coalition (IAC)</a>, an award-winning 501(c)(3) nonprofit organization
  that has worked for 25 years to improve vaccine policy and ensure that health
  professionals and the public have accurate information about vaccines.
</p>
<p>
  If you would like to learn more about how to create a Ruby on Rails site like
  this one, please view the <a href="https://github.com/jzukus/chi-vaccines">
  Github repository</a> for this site as well as the
  <a href="https://www.railstutorial.org/book/">main tutorial</a> from which
  this site was adapted.
</p>
