<% provide(:title, "Clinic Finder") %>
<h1>Map of Closest Vaccination Clinics to You</h1>
<h3 style="text-align:left">City Walk-in Immunization Clinics (WICs)</h3>
<p>
  The Chicago Department of Public Health (CDPH) runs 5 Walk-in Immunization
  Clinics (WICs) that provide vaccinations for children age 0 through 18 at no
  out-of-pocket cost. City WICs serve Chicago residents who are
  <ul>
    <li>Uninsured</li>
    <li>Underinsured (have insurance that doesn't cover vaccines)</li>
    <li>Medicaid (Title XIX) insured</li>
    <li>Children's Health Insurance Program (CHIP) insured
  </ul>
  You can find more information on how to prepare for your visit
  <a href="https://www.chicago.gov/city/en/depts/cdph/supp_info/health-protection/immunizations_walk-inclinics.html">
  here</a>.
</p>

<h3 style="text-align:left">Community Health Clinics</h3>
<p>
  There are 120 community health clinics in Chicago. These include Federally
  Qualified Health Centers (FQHCs), county government clinics, and FQHC
  look-alikes (similar clinics that just don't receive federal funding). These
  clinics are designed to serve underserved populations. You should contact
  nearby clinics to see whether you qualify for free or low-cost care and
  vaccinations. Like City WICs, FQHCs will provide vaccinations for children
  age 0 to 18 at no out-of-pocket cost if they are uninsured, underinsured,
  Medicaid insured, or CHIP insured.
</p>

<h3 style="text-align:left">Guaranteed MMR Vaccine Sites</h3>
<p>
  There are 57 pharmacies and MinuteClinics in Chicago that are guaranteed to
  carry the important Measles Mumps Rubella (MMR) vaccine. It is still
  recommended, however, to contact these locations in advance to check on
  availability prior to walking in for vaccination. For more information on who
  should get the MMR vaccine and when, read
  <a href="https://www.cdc.gov/vaccines/vpd/mmr/public/index.html">here</a>.
</p>

<h3 style="text-align:left">Vaccination Clinic Finder</h3>
<p>
  This searchable map allows you to find the closest City WICs, community
  health centers, as well as pharmacies and MinuteClinics that are guaranteed
  to have MMR vaccines in stock.
</p>
<p>
  Map source data: CDPH,
  <a href="https://data.cityofchicago.org/Health-Human-Services/Special-Vaccine-Locations-MMR/n25h-uu2v">
  https://data.cityofchicago.org/Health-Human-Services/Special-Vaccine-Locations-MMR/n25h-uu2v
  </a> and
  <a href="https://data.cityofchicago.org/Health-Human-Services/Public-Health-Services-Chicago-Primary-Care-Commun/cjg8-dbka">
  https://data.cityofchicago.org/Health-Human-Services/Public-Health-Services-Chicago-Primary-Care-Commun/cjg8-dbka
  </a>.
</p>
<p>
  Note: More up-to-date maps of
  <a href="https://data.cityofchicago.org/Health-Human-Services/Map-Public-Health-Services-Chicago-Primary-Care-Co/2usn-w2nz">
  community health clinics</a>
  and
  <a href="https://measlesvax.chicago.gov/">guaranteed MMR vaccine sites</a>
  may be available.
</p>
<iframe src="https://jzukus.github.io/chi-vaccines-map/" width="100%" height="600px;">
