<% provide(:title, "Clinic Finder") %>
<h1>Map of Closest Vaccination Clinics to You</h1>
<p>
  The Chicago Department of Public Health ... 
</p>
<p>
  Note: A more up-to-date map of MMR vaccination sites may be available
  <a href="https://measlesvax.chicago.gov/">here</a>.
</p>
<iframe src="https://jzukus.github.io/chi-vaccines-map/" width="100%" height="600px;">
