<div class="center jumbotron bg">
  <h1 style="text-shadow: 3px 3px 5px red;">
    The Chicago Vaccination Project
  </h1>
  <h2 style="text-shadow: 1px 1px 3px red;">
    Ensuring a healthy future for all children in Chicago
  </h2>
</div>

<div class="row">
  <div class="column">
    <h3>Chicago Public School (CPS) vaccination requirements:</h3>
    <div class="buttonHolder">
      <%= link_to "Vaccines for CPS", vaccines_cps_path,
      class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <div class="column">
    <h3>Why vaccinations are critical for your child’s health:</h3>
    <div class="buttonHolder">
      <%= link_to "Value of Vaccines", value_vaccines_path,
      class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <div class="column">
    <h3>Measles immunization levels across CPS:</h3>
    <div class="buttonHolder">
      <%= link_to "Immunization Levels", immunization_levels_path,
      class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <div class="column">
    <h3>Map of closest vaccination clinics to you:</h3>
    <div class="buttonHolder">
      <%= link_to "Clinic Finder", clinic_finder_path, 
      class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
