<% provide(:title, "Vaccines for CPS") %>
<h1>Chicago Public School (CPS) Vaccination Requirements</h1>
<p>
  Chicago Public Schools have minimum health requirements that all attending
  students must meet. This includes a physical, eye, and dental examination for
  first-time students and otherwise depending on their grade. Beyond these
  exams, the following vaccinations are also required:
  <ul>
    <img style="float: right; margin: 10px 0px 10px 10px;" src="/assets/vaccination.jpg" class="responsive"/>
    <li>Diptheria, Petussis, Tetanus (DTP, DTaP & Tdap)</li>

    <li>Polio</li>
    <li>Measles, Mumps, and Rubella (MMR)</li>
    <li>Hepatitis B</li>
    <li>Varicella (Chicken Pox)</li>
    <li>Haemophilus Influenzae, Type B (HIB)</li>
    <li>Pneumococcal Conjugate (PCV)</li>
    <li>Meningitis Conjugate (MCV4)</li>
  </ul>
  More information on when your child should receive these exams and vaccines,
  and what forms you need to get filled out, can be found
  <a href="https://cps.edu/oshw/Pages/MinimumHealthRequirements.aspx">here</a>.
  There are PDF summaries for 2018-2019 in
  <a href="https://cps.edu/OSHW/Documents/MinimumHealthRequirements_English.pdf">
  English</a> and in
  <a href="https://cps.edu/OSHW/Documents/MinimumHealthRequirements_Spanish.pdf">
  Spanish</a>.
</p>
