<% provide(:title, "Value of Vaccines") %>
<h1>Why Vaccinations Are Critical for Your Child’s Health</h1>
<p>
  The vaccines that Chicago Public Schools require for your children prevent
  diseases that can cause <a href="https://www.cdc.gov/features/adultvaccinations/index.html">
  long-term illness, hospitalization, and even death.</a>
  Not only that, but vaccinating your child can help make sure that other
  children do not get these diseases. Some children are not able to get
  vaccinated if they have compromised immune systems because of chronic
  diseases, and rely on <a href="https://www.vaccines.gov/basics/work/protection">
  community or "herd" immunity</a>. If enough people are vaccinated, then the
  disease cannot travel as easily from person to person and the entire
  community is less likely to get the disease.
</p>
<p>
  <b><i>But if everyone has to get vaccinated, then after a while, won't these
    diseases go away and make vaccination unnecessary?</i></b>
</p>
<p>
  Unfortunately not, as many other parts of the world still struggle with these
  diseases. It's possible that travelers to the US can still bring them here
  and spread them if we are not vaccinated. We have seen firsthand how diseases
  like measles that were once rare in the US have become much greater public
  health issues. Thanks to effective immunization, measles had been declared
  eliminated in the US in 2000, meaning that there was no "indigenous"
  transmission and that outbreaks came only from foreign sources. But due to a
  growing anti-vaccination movement, the first half of 2019 has already seen
  <a href="https://www.livescience.com/65658-when-will-measles-not-be-eliminated.html">
  over 1,000 cases of measles</a>
  in the US, the highest number in over 25 years. This is threatening to erase
  our measles "elimination status." <b>Getting your child vaccinated is now more
  important than ever!</b>
</p>
<p>
  <b><i>What about the rumors that vaccines aren't safe?</i></b>
</p>
<p>
  <a href="https://www.cdc.gov/vaccinesafety/index.html">Data</a> from the
  Centers for Disease Control and Prevention (CDC) show that the current U.S.
  vaccine supply is the <b>safest in history</b>. One particularly pernicious
  rumor is that vaccines cause autism due to particular additives such as the
  preservative thimerosal. The issue is that signs of autism appear around the
  same time that children are recommended to receive the measles (MMR) vaccine, 
  leading some to falsely surmise that the two are causally linked. But as the
  CDC <a href="https://www.cdc.gov/vaccinesafety/concerns/autism.html">
  reports</a>, "Since 2003, there have been <a href="https://www.cdc.gov/vaccinesafety/pdf/cdcstudiesonvaccinesandautism.pdf">
  nine CDC-funded or conducted studies</a> that have found no link between
  thimerosal-containing vaccines and ASD [Autism Spectrum Disorder], as well as
  no link between the measles, mumps, and rubella (MMR) vaccine and ASD in
  children." Furthermore, thimerosal has already been removed or reduced to
  trace amounts in all childhood vaccines except some flu vaccines as a
  precautionary measure. <b>There are no vaccine ingredients that have been
  linked to causing ASD.</b>
</p>
