@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
  background-color: #b3ddf2;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


.bg {
  background-image: url('/assets/chicago_flag.png');

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
	margin: 0;
	padding: 12px 0 12px 42px;
	list-style: none;
	background-image: url("/assets/syringe.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}

.responsive {
  width: 100%;
  max-width: 550px;
  height: auto;
}

.buttonHolder { text-align: center; }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* columns */
/* source: https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
