<footer class="footer">
  <small>
    The Chicago Vaccination Project
    by <a href="https://www.linkedin.com/in/jasonzukus/">Jason Zukus</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= mail_to "jzukus@uchicago.edu", "Contact" %></li>
    </ul>
  </nav>
</footer>
